body {
    background-size: 100%;
    background-attachment: fixed;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    font-family: 'Oswald';
}
.wallpaper {
    background-image: url(https://wallsneedlove.com/cdn/shop/products/w0563_1s_Black-polished-marble-tile-seamless-herringbone-pattern-wallpaper-Perfect-Manhattan_Repeating-Pattern-Sample-1.jpg?v=1602870203);
        z-index: -100;
    position: fixed;
    top: 0; /* Start position at bottom */
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
    animation: scrollAnimation 45s linear infinite;
}
.wallpaper-frozen {
    background-image: url(https://wallsneedlove.com/cdn/shop/products/w0563_1s_Black-polished-marble-tile-seamless-herringbone-pattern-wallpaper-Perfect-Manhattan_Repeating-Pattern-Sample-1.jpg?v=1602870203);
        z-index: -100;
    position: fixed;
    top: 0; /* Start position at bottom */
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
}
@keyframes scrollAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
@keyframes loadInAnimation {
    0% {
        top: 100%;
    }
    100% {
        top: 0;
    }
}
.wallpaper2 {
    background-image: url(https://wallsneedlove.com/cdn/shop/products/w0563_1s_Black-polished-marble-tile-seamless-herringbone-pattern-wallpaper-Perfect-Manhattan_Repeating-Pattern-Sample-1.jpg?v=1602870203);
        z-index: -100;
    position: fixed;
    top: 100%; /* Start position at bottom */
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
    animation: scrollAnimation 45s linear infinite;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
a:link { color: rgb(255, 255, 255);}
a:visited { color: rgb(255, 255, 255);}
a:hover {color: rgb(149, 208, 247);}
a:active { color: rgb(0, 140, 255);}
.black-link:link {
    color: #000000;
}
.black-link:visited {
    color: #000000;
}
.black-link {
    color: #000000;
}
.black-link:link:hover {
    color: #d63c42;
}
.black-link:visited:hover {
    color: #d63c42;
}
.black-link:hover {
    color: #d63c42;
}
.black-link:link:active {
    color: rgb(0, 140, 255);}

.black-link:visited:active {
    color: rgb(0, 140, 255);}

.black-link:active {
    color: rgb(0, 140, 255);}
@media only screen and (max-width: 600px) {
    p {
        font-size: 12px;
    }
}
#navText {
    color: white;
    text-shadow: 7px 7px 7px #000000;
    margin-inline: 1%;
    margin: 0;
}
#navText:hover {
    transform: scale3d(1.1, 1.1, 1.1); 
    transition: transform 0.3s ease;
}
@media only screen and (max-width: 600px) {
section.nav-text {
    display: flex;
    justify-content: space-evenly;
    }
 }
 section.nav-text {
    display: flex;

    justify-content: space-evenly;
 }
.header-nav {
    background-position-y: 70%;
    background-size: cover;
    background-image: url();
    font-size: 35px;
  border-radius: 35%;
  font-family: 'Oswald';
  padding: 30px 30px 30px 30px;
}
@media only screen and (max-width: 600px) { 
   div.header-nav {
    width: auto;
    background-position-y: 70%;
    background-size:cover;
    font-size: 20px;
    padding: 5px;
   }
}
img.plus-side-net-nav {
    float: left;
    width: auto;
    height: 150px;
    margin: -50px 0 0px 0;
}
@media only screen and (max-width: 600px) {
    
    img.plus-side-net-nav {
        margin: -10px 0 0 0;
        display: flex;
        height: auto;
        min-width: 25px;
        width: 12.5%;
        max-width: 100px;
     } 
 }
img.plus-side-net-nav:hover {
  transform: scale3d(1.1, 1.1, 1.1); 
  transition: transform 0.3s ease

}
img.plus-side-net-nav:active {
    transform: scale3d(1.2, 1.2, 1.2); 
  }
.twitter-link {
    float: right;
    height: 50px;
    width: auto;
}
@media only screen and (max-width: 600px) { 
    img.twitter-link {
    display: flex;

    min-height: 20px;
    height: 10%;
    max-height: 30px;
     }
     a.twitter-link {
        max-height: 20px;
     }
 }
.twitter-link:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.3s ease

}
.twitter-link:active {
    transform: scale3d(1.2, 1.2, 1.2);
}
.youtube-link {
    float: right;
    height: 50px;
    width: auto;
}
@media only screen and (max-width: 600px) { 
    
    img.youtube-link {
    min-height: 20px;
    height: 10%;
    max-height: 30px;
     }
     a.youtube-link {
        max-height: 20px;
     }
 }
.youtube-link:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.3s ease

}
.youtube-link:active {
    transform: scale3d(1.2, 1.2, 1.2);
}
.upcoming-image-parent {
    margin-top: 25px;
    text-align: center;
}
.upcoming-resize {
    width: 75%;
}
@media only screen and (max-width: 600px) {
    
   img.upcoming-resize  {
    width: 100%;
     }
 }
.upcoming-date {
    padding-left: 50px;
    text-align: left;
        font-size: large;
        font-family: 'Oswald';
    }
.events {
    max-width: 45%;
    min-width: 45%;
    font-family: 'Oswald';
    text-align: center;
    padding: 25px;
    margin: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100px 100px 100px 100px;
    transition: .3s;
    border-style: double;
    border-block-style: groove;
   border-block-width: thick;
   background-color: white;
   box-shadow: 0 0 20px 0  rgb(4, 217, 255);
   border-inline-color: rgb(4, 217, 255);
   border-block-color: #d63c42;
   writing-mode: horizontal-tb;
}
.event-date {
    text-align: center;
    font-size: large;
}
p.event-date {
    margin: 2% 0 -2% 0;
}
@media only screen and (max-width: 1000px) {
    b.event-date {
        font-size: 29px;
    }
    p.event-date {
        font-size: 29px;
    }
}
.eventsList {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    padding-inline-start: unset;
}
.events:hover {
    border-inline-color:#d63c42;
    border-block-color: rgb(4, 217, 255);
    box-shadow: 0px 0px 40px 0px #d63c42;

}
@media only screen and (max-width: 600px) {
    .events {
        align-items: center;
        display: block;
        border-radius: 25%;
        border-style: double;
        border-block-end-color:#d63c42;
        box-shadow: 0 0 15px 0  rgb(4, 217, 255);
        flex: 1;
        width: 75%;
        height: 75%;
        max-width: 250px;
        min-width: 200px;
    }
    .events-title {
        text-align: center;
        align-content: center;
    }
    p.events-text {
        padding: unset;
        font-size: larger;
        text-align: center;
    }
    h1.article-head {
        padding: unset;
        text-align: center;
    }
    div.article-head {
        padding: unset;
        text-align: center;
    }
}
.events-title{
    padding-left: 50px;
    text-align: left;
}
.events-text {
    font-size: larger;
    padding-left: 50px;
    text-align: left;
}
.article-head {
    padding-left: 50px;
    text-align: left;
    font-family: 'Oswald';
}
.article-date {
    
    font-size: large;
    font-family: 'Oswald';
}
@media only screen and (max-width: 1000px) {
    b.article-date {
        font-size: 29px;
    }
    p.article-date {
        font-size: 29px;
    }
}
.article-read {
    font-size: 30px;
    float: center;
    background-color: #d63c42;   
    border-radius: 15px 15px 15px 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 0 3px 0 #d63c42;;
        transition: .3s;
        border-inline-color: rgb(4, 217, 255);
        border-block-color: #d63c42;
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
       
}
.article-read:hover {
    border-style: double;
    font-family: 'Oswald';
    color: rgb(149, 208, 247);
        box-shadow: 2px 2px 5px 1px #d63c42;
    border-inline-color:  rgb(4, 217, 255);
    border-style: double;
        border-block-style: groove;
       border-block-width: thick;
}
.article-read:active {
    box-shadow: 4px 4px 7px 3px  #d63c42;
    color: rgb(0, 140, 255);
}
.article-style {
    flex-direction: row;
    font-family: 'Oswald';
    text-align: center;
    padding: 25px;
    margin: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 100px 100px 100px 100px;
    transition: .3s;
    border-style: double;
    border-block-style: groove;
   border-block-width: thick;
   background-color: white;
   box-shadow: 0 0 20px 0  rgb(4, 217, 255);
   border-inline-color: rgb(4, 217, 255);
   border-block-color: #d63c42;
   writing-mode: horizontal-tb;
}
@media only screen and (max-width: 600px) {
    .article-style {
        align-items: center;
        display: block;
        border-radius: 25%;
        border-style: double;
        border-block-end-color: #d63c42;
        box-shadow: 3px 3px 6px 2px #d63c42;
        flex: 1;
        width: 75%;
        height: 75%;
        max-width: 250px;
        min-width: 200px;
    }
    .events-title {
        text-align: center;
        align-content: center;
    }
    p.events-text {
        padding: unset;
        font-size: larger;
        text-align: center;
    }
    h1.article-head {
        padding: unset;
        text-align: center;
    }
    div.article-head {
        padding: unset;
        text-align: center;
    }
    img.article-banner {
        display: inline-flex;
        justify-content: left;
        flex: 1;
        height: auto;
        width: 75%;
        min-height: 150px;
    }
    p.article-body {
        text-align: center;
        padding: unset;
    }
    a.article-read {
        flex: 1;
        width: 50%;
        height: auto;
        font-size: 20px;
    }
}
.article-style:hover {
    border-style: double;
    font-family: 'Oswald';
    border-block-style: groove;
   writing-mode: horizontal-tb;
   border-block-width: thick;
   border-inline-color:#d63c42;
   border-block-color: rgb(4, 217, 255);
   box-shadow: 0px 0px 40px 0px #d63c42;
}
.article-body {
    font-size: larger;
    padding-left: 50px;
    text-align: left;
}
.article-banner {
    flex: 0 0 300px;
    border-radius: 25%;
    height: 300px;
    width: 300px;
    border-style: double;
    border-block-color: #d63c42;
    box-shadow: 3px 3px 6px 2px #d63c42;
    border-inline-color: rgb(4, 217, 255);
}
.article-banner:hover {
    transform: scale3d(1.02, 1.02, 1.02); 
    transition: transform 0.3s ease;
    box-shadow: 6px 6px 15px 4px  #d63c42;
}
.article-banner:active {
    transform: scale3d(1.03, 1.03, 1.03); 
    transition: transform 0.3s ease;
    box-shadow: 6px 6px 20px 4px  rgb(4, 217, 255);}
.articleLink {
    display: inline-flex;
    color: #d63c42;
}
.articleLink:hover {
    color: rgb(149, 208, 247);
}
.articleLink:active {
    color: rgb(0, 140, 255);}
#articleLink {
    color: #d63c42;
}
#articleLink:hover {
    color: rgb(149, 208, 247);
}
#articleLink:active {
    color: rgb(0, 140, 255);}
#articleAuthor {
    float: right;
}
.events-banners-trans {
    flex: 0px;
    max-width: 300px;
    max-height: 300px;
    height: 300px;
    width: 300px;
    border-radius: 25%;

}
.events-banners-trans:hover {
    transform: scale3d(1.02, 1.02, 1.02); 
    transition: transform 0.3s ease;
}
.events-banners-trans:active {
    transform: scale3d(1.03, 1.03, 1.03); 
}
.events-banners {
    flex: 0px;
    border-radius: 25%;
    max-width: 300px;
    max-height: 300px;
    height: 300px;
    width: 300px;
    border-style: double;
    border-block-color: #d63c42;
    box-shadow: 3px 3px 6px 2px #d63c42;
    border-inline-color: rgb(4, 217, 255);
    
}
.events-banners:hover {
    transform: scale3d(1.02, 1.02, 1.02); 
    transition: transform 0.3s ease;
    box-shadow: 6px 6px 15px 4px  #d63c42;

}
.events-banners:active {
    transform: scale3d(1.03, 1.03, 1.03); 
    transition: transform 0.3s ease;
    box-shadow: 6px 6px 20px 4px  rgb(4, 217, 255);
}
@media only screen and (max-width: 600px) {
    img.events-banners {
        border-radius: 25%;
        border-style: double;
        border-block-end-color: #d63c42;
        box-shadow: 3px 3px 6px 2px #d63c42;
        flex: 1;
        height: auto;
        width: 75%;
    }
    img.events-banners-trans {
        flex: 1;
        width: 75%;
        height: auto;
    }
    h3 
    {
        font-size: medium;
    }
}
.pm-rank {
    float: right;
}
.pm-rank-centered {
    float: center;
}
.pm-rank-centered-invis {
    float: center;
    visibility: hidden;
}
.start-gg {
    font-size: 30px;
    background-color: #d63c42;
    border-radius: 15px 15px 15px 15px;
    padding-left: 18px;
    padding-right: 18px;
    box-shadow: 0 0 3px 0 #d63c42;
        transition: .3s;
        border-style: double;
        border-inline-color: rgb(4, 217, 255);
        border-block-color: #d63c42;
        border-block-style: groove;
       border-block-width: thick;
}
@media only screen and (max-width: 600px) {
    a.start-gg {
        flex: 1;
        width: 50%;
        height: auto;
        font-size: 20px;
    }
}
.start-gg:hover {
    color: rgb(149, 208, 247);
        box-shadow: 2px 2px 5px 1px #d63c42;
    border-inline-color:  rgb(4, 217, 255);
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;    
}
.start-gg:active {
    box-shadow: 4px 4px 7px 3px  #d63c42;
    color: rgb(0, 140, 255);}
.past-events { 
    font-family: 'Oswald';
    text-align: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    border-radius: 100px 100px 100px 100px;
    transition: .3s;
    border-block-style: groove;
   border-block-width: thick;
   border-style: double;
   background-color: white;
   box-shadow: 0 0 20px 0  rgb(4, 217, 255);
   border-inline-color: rgb(4, 217, 255);
   border-block-color: #d63c42;
   writing-mode: horizontal-tb;
}
@media only screen and (max-width: 600px) {
    li.past-events {
        border-radius: 25%;
        border-style: double;
        border-block-end-color: #d63c42;
        box-shadow: 3px 3px 6px 2px #d63c42;
        flex: 1;
        width: 50%;
        max-width: 250px;
        min-width: 200px;
    }
}
.past-events:hover {
    border-style: double;
    border-block-style: groove;
   border-block-width: thick;
   border-inline-color:#d63c42;
   border-block-color: rgb(4, 217, 255);
   box-shadow: 0px 0px 40px 0px #d63c42;
}
.past-article-text {
        font-size: larger;
        text-align: center;
}
.past-events-title{
    text-align: center;
    color: black;
}
.past-events-title:hover{
    color: #d63c42;
}
.past-events-title:active {
    color: rgb(0, 140, 255);
}
.vods-past {
    font-size: 30px;
    float: center;
    background-color: #d63c42;
    border-radius: 15px 15px 15px 15px;
    padding-left: 18px;
    padding-right: 18px;
    box-shadow: 0 0 3px 0 #d63c42;
        transition: .3s;
        border-style: double;
        border-inline-color: rgb(4, 217, 255);
        border-block-color: #d63c42;
        border-block-style: groove;
       border-block-width: thick;
       margin: 0px 0 10px 0;
}
@media only screen and (max-width: 600px) {
    a.vods-past {
        margin: 0px 0 10px 0;
        flex: 1;
        width: 50;
        font-size: 20px;
    }
    p.top3 {
        margin: 10px 0 10px 0;
    }
    div.article-page-text {
        margin: unset;
        margin: 5%;
    }
    div#streamsMobile {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    p.streamNames {
        color: white;
        font-size: large;
        text-align: center;
        margin-bottom: 1%;
}
div.video-con {
    margin-left: 12.5%;
    margin-bottom: 20px;
    width: 75%;
  }
}
.hidden {
    display: none;
}
.vods-past:hover {
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
       color: rgb(149, 208, 247);
       box-shadow: 2px 2px 5px 1px #d63c42;
       border-inline-color:  rgb(4, 217, 255);
}
.vods-past:active {
    box-shadow: 4px 4px 7px 3px #d63c42;
    color: rgb(0, 140, 255);
}
.article-page-text {
    color: white;
    font-size: x-large;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
.article-body-image {
    width: 75%;
    height: auto;
    border-width: 2px;
    border-color: white;
    border-style: outset;
    box-shadow: 0 0 15px 0  #d63c42;

}
.article-body-image-bigger {
    width: 100%;
    height: auto;
    border-width: 2px;
    border-color: white;
    box-shadow: 0 0 15px 0  #d63c42;
    border-style: outset;
}
.article-player-side {
    text-align: left;
}
img.article-potential-characters {
    display: block;
    float: right;
    height: 250px;
    width: auto;
}
.video-size-desktop
{
    width: 75%;
    height: 635px;
}
#wplStream {
    margin-left: 250px;
}
#ycStream {
    margin-left: 25px;
}
#rcStream {
    margin-left: 75px;
}
#uwcStream {
margin-left: 250px;
}
#kumaStream {
margin-left: 300px;
}

.streamBody {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}
.video-column {
  flex-grow: 1;
}
.video-con {
  margin-bottom: 20px;
  width: 30%;
  height: 25%;
}
.streamNamesContainer {
    display: flex;
    justify-content: space-evenly;
}
.streamNames {
        display: inline-flex;
        color: white;
        font-size: xx-large;
        text-align: center;
        margin-bottom: 1%;
        text-align: center;
}
.video-con iframe,
.video-con object,
.video-con embed {
  width: 100%;
  border-color: #d63c42;
}

.past-events-drop {
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    
    .past-events-drop {
        font-size: 12px;
        margin-top: 10px;
        }
        iframe {
            height: 225px;
            width: 375px;
        }
 }
.past-events-drop .past-events-drop-btn {
    cursor: pointer;
    height: auto;
    font-size: 30px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: inherit;
    padding: 0;
    overflow: visible;
    z-index: 11111;
}
.past-events-drop-btn:hover {
    color: rgb(149, 208, 247);
    transition: transform 0.3s ease
}
@media only screen and (max-width: 600px) {

    div.past-events-drop.calView {
        margin: 10px 5px 5px 0;

    }

    div.dropdown-content {
        margin: 30px 0px 0px -5px;
        grid-template-columns: repeat(2, auto);
        grid-auto-flow: column;
        position: absolute;
        z-index: 1;
    }
    a.dropdown-links {
        margin: 0 10px 0px 0px;
    }
    #past-year {
        font-size: 20px;
    }
    button#past-events-drop-btn {
        font-size: 17.5px;
        flex: 1;
        width: fit-content;
        height: auto;
    }
    #wplStream {
        margin-left: unset;
    }
    #ycStream {
        margin-left: unset;
    }
    #rcStream {
        margin-left: unset;
    }
    #uwcStream {
        margin-left: unset;

    }
    #kumaStream {
        margin-left: unset;
    }
 }
.dropdown-content {
    margin: 50px 0px 5px 0px;
    grid-template-columns: repeat(2, auto);
    grid-auto-flow: column;
    position: absolute;
    z-index: 1;
}
.dropdown-links {
    margin: 0px 0px 5px 10px;
    border-radius: 25%;
    background-color: rgba(0, 0, 0, 0.705);
    border-style: double;
    border-style: double;
    border-inline-color:rgb(4, 217, 255);
    border-block-color: #d63c42;
    border-block-style: groove;
    border-block-width: thick;
    box-shadow: 3px 3px 6px 2px  #d63c42;
 
}
@media only screen and (max-width: 600px) {
    .dropdown-links {
        margin: 5px 0 5px 30px;
    }
}
.dropdown-links:hover {
    border-inline-color: slateblue;
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.3s ease
}
#past-year {
    color:  rgb(255, 255, 255);
    margin: 0 0px 0 0px;
}
#past-year:hover {
    color: rgb(149, 208, 247);
    transition: transform 0.3s ease

}
#past-year:active { color: rgb(0, 140, 255);}
.past-events-banners {
    flex: 0px;

    border-radius: 25%;
    max-width: 300px;
    max-height: 300px;
    height: 300px;
    width: 300px;
    border-style: double;
    border-block-color: #d63c42;
    box-shadow: 3px 3px 6px 2px #d63c42;
    border-inline-color: rgb(4, 217, 255);
}
@media only screen and (max-width: 600px) {
    img.past-events-banners {
        flex: 1;
        width: 75%;
    }
}
.past-events-banners:hover {
    transform: scale3d(1.02, 1.02, 1.02); 
    transition: transform 0.3s ease;
    box-shadow: 6px 6px 15px 4px  #d63c42;
}
.past-events-banners:active {
    transform: scale3d(1.03, 1.03, 1.03); 
    transition: transform 0.3s ease;
    box-shadow: 6px 6px 20px 4px  rgb(4, 217, 255);}
#pastList {
    display: flex;
}
@media only screen and (max-width: 600px) {
    ul.pastList {
        justify-content: center;
        margin: unset;
    }
    ul.eventsList {
        margin: unset;
        justify-content: center;
        padding: unset;
    }
    li.article-style {
        justify-content: center;
    }
}
.top3 {
    font-size: large;
}
img:focus {
    image-rendering:optimizeQuality;
    transform: scale3d(1.3, 1.3, 1.3);
    cursor:pointer;
    transition: .25s ease;
}
img.zoomed {
    transform: scale3d(1, 1, 1);
}
img:hover {
    cursor:zoom-in;
}
img.past-events-banners:hover {
    cursor: pointer;
}
img.events-banners:hover {
    cursor: pointer;
}
img.plus-side-net-nav:hover {
    cursor: pointer;
}
img.youtube-link:hover {
    cursor: pointer;
}
img.twitter-link:hover {
    cursor: pointer;
}
img.article-banner:hover {
    cursor: pointer;
}
img.upcoming-resize:hover {
    cursor: unset;
}
img.pm-rank:hover {
    cursor: unset;
}
img.pm-rank-centered:hover {
    cursor: unset;
}
img.events-banners-trans {
    cursor: unset;
}
#pageHeader {
    -webkit-text-stroke-width: .75px;
    -webkit-text-stroke-color: #d63c42;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 100px;
    font-family: 'Oswald';
    margin: unset;
}
#authorPageHeader {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 50px;
    font-family: 'Oswald';
    margin: unset;
    margin: 1% 0 2% 0;
}
@media only screen and (max-width: 600px) {
   #pageHeader {
    font-family: 'Oswald';
    -webkit-text-stroke-width: unset;
    font-size: x-large;
    margin: unset;
   }
   #authorPageHeader {
    -webkit-text-stroke-width: unset;
    font-size: large;
    margin: 5px 0 5px 0;
   }
   h1.textGradient {
    text-shadow:
    0px 0px 0px #ffffff, /* Outer red shadow */
    2px 2px 2px #d63c42, /* Inner red shadow */
    2px 2px 2px  #d63c42; /* Inner red shadow */
   }
}
.textGradient {
    -webkit-text-fill-color: white;
    background: rgb(255,255,255);
    text-shadow:
    2px 2px 2px #ffffff, /* Outer red shadow */
    5px 5px 5px #d63c42, /* Inner red shadow */
    5px 5px 5px  #d63c42; /* Inner red shadow */
}
#pageHeaderAuthor {
    -webkit-text-fill-color: white;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 50px;
    font-family: 'Oswald';
    margin: unset;
}
.card {
    display: block;
    align-items: center;
    background: rgb(255,140,145);
    background: -moz-radial-gradient(circle, rgba(255,140,145,1) 65%, rgba(214,60,66,1) 90%);
    background: -webkit-radial-gradient(circle, rgba(255,140,145,1) 65%, rgba(214,60,66,1) 90%);
    background: radial-gradient(circle, rgba(255,140,145,1) 65%, rgba(214,60,66,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff8c91",endColorstr="#d63c42",GradientType=1);
}
td {
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 15px 0  #d63c42;

}
table {
    background: rgb(64,213,254);
    background: -moz-linear-gradient(180deg, rgba(64,213,254,1) 0%, rgba(213,235,241,1) 90%);
    background: -webkit-linear-gradient(180deg, rgba(64,213,254,1) 0%, rgba(213,235,241,1) 90%);
    background: linear-gradient(180deg, rgba(64,213,254,1) 0%, rgba(213,235,241,1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#40d5fe",endColorstr="#d5ebf1",GradientType=1); 
}
thead {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(180deg, rgba(255,255,255,1) 5%, rgba(255,186,226,1) 30%, rgba(255,255,255,1) 80%);
    background: -webkit-linear-gradient(180deg, rgba(255,255,255,1) 5%, rgba(255,186,226,1) 30%, rgba(255,255,255,1) 80%);
    background: linear-gradient(180deg, rgba(255,255,255,1) 5%, rgba(255,186,226,1) 30%, rgba(255,255,255,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}
.bg-info {
    background: rgb(63,247,251);
    background: -moz-linear-gradient(125deg, rgba(63,247,251,1) 20%, rgba(115,141,252,1) 50%, rgba(255,173,189,1) 80%);
    background: -webkit-linear-gradient(125deg, rgba(63,247,251,1) 20%, rgba(115,141,252,1) 50%, rgba(255,173,189,1) 80%);
    background: linear-gradient(125deg, rgba(63,247,251,1) 20%, rgba(115,141,252,1) 50%, rgba(255,173,189,1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3ff7fb",endColorstr="#ffadbd",GradientType=1);
}
th {
    text-align: center;
}
.card-header {
    font-family: 'Oswald';
    text-align: center;
}
.calendarImg {
    border-radius: 25%;
    height: 100px;
    width: 100px;
}
.calendarImg:hover {
    cursor: unset;
    transform: scale3d(1.1, 1.1, 1.1);
    transition: transform 0.3s ease;

}
.calendar-container {
    padding: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
  #calendar-body td {
    text-align: center;
    vertical-align: middle;
  }
  form.form-inline {
    justify-content: space-evenly;
  }
  .table td, .table th {
    padding: unset;
  }
td {
    height: 100px;
    width: 100px;
}
#next, #previous {
    color: #000000;
    border-color:rgb(0, 0, 0);
    font-size: large;
}
#month, #year {
    margin-bottom: 20px;
}
label.lead {
    margin-bottom: 20px;
}
.table-bordered {
    width: fit-content;
}
@media only screen and (max-width: 767px) {
    .container {
        max-width: fit-content;
        margin: 1% 1% 1% 1%;
        padding: 1% 1% 1% 1%;
    } 
    .calendar-container  {

        justify-content: center;
        align-items: center;
        height: 15px;
    } 
    div.card  {
        max-width: 90%;
        margin: unset;
        background: rgb(255,140,145);
        background: -moz-radial-gradient(circle, rgba(255,140,145,1) 65%, rgba(214,60,66,1) 90%);
        background: -webkit-radial-gradient(circle, rgba(255,140,145,1) 65%, rgba(214,60,66,1) 90%);
        background: radial-gradient(circle, rgba(255,140,145,1) 65%, rgba(214,60,66,1) 90%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff8c91",endColorstr="#d63c42",GradientType=1);
        height: 100px;
        margin-left: 550px;
    } 
    #calendar-body {
        width: 1%;
      }
    thead {
       font-size: calc(1vw + 1vh);
    }
    td  {
        height: min-content;
        width: 100%;
    } 
     table#calendar.table.table-bordered  {
        width: 100%;
    } 
    .table {
        table-layout: fixed;
        height: min-content;
    } 
    #calendar  {
        
        justify-content: center;
        align-items: center;
    } 
    .calendarImg {
        height: 50px;
        width: 100%
    }
    .form-inline {
        justify-content: space-evenly;
        margin-top: -21px;
        background: rgb(255,140,145);
        background: -moz-radial-gradient(circle, rgba(255,140,145,1) 65%, rgba(214,60,66,1) 90%);
        background: -webkit-radial-gradient(circle, rgba(255,140,145,1) 65%, rgba(214,60,66,1) 90%);
        background: radial-gradient(circle, rgba(255,140,145,1) 65%, rgba(214,60,66,1) 90%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff8c91",endColorstr="#d63c42",GradientType=1);
    }
    #next, #previous {
        margin-top: 20px;
    }
    #month, #year {
        
        margin-bottom: unset;
    }
    label.lead {
        
        margin-bottom: unset;
    }
}
.calView {
    margin: 0 50px 0 50px;
    font-size: 30px;
    border-radius: 15px 15px 15px 15px;
    padding-left: 18px;
    padding-right: 18px;
        transition: .3s;
        border-style: double;
        border-block-style: groove;
       border-block-width: thick;
       background-color: #d63c42;
       border-inline-color: rgb(4, 217, 255);
       border-block-color: #d63c42;
}
.calViewList {
    font-size: 30px;
    background-color: #d63c42;
    border-radius: 15px 15px 15px 15px;
    padding-left: 18px;
    padding-right: 18px;
        transition: .3s;
        border-style: double;
        border-inline-color: rgb(4, 217, 255);
        border-block-color: #d63c42;
        border-block-style: groove;
       border-block-width: thick;
       box-shadow: 0 0 10px 0  rgb(4, 217, 255);

}
@media only screen and (max-width: 767px) {
    
    div.calViewListContainer {
        margin: 0 0px 0 30px;

    }

    button.calView {
        margin: 10px 5px 5px 0;
        flex: 1;
        width: fit-content;
        height: auto;
        font-size: 17.5px;
    }
    .listView {
    margin-bottom: 1%;    
}
button.calViewList {
    margin: 10px 5px 5px 0;
    font-size: 17.5px;
}
}
.calView:hover
    {
    color: rgb(60, 42, 177);
        border-style: double;
        border-block-style: groove;
        border-inline-color: rgb(4, 217, 255);
        border-block-color: #d63c42;
       border-block-width: thick;       
       box-shadow: 0 0 10px 0  rgb(4, 217, 255);

}
.listView {
    margin-bottom: 6%;
}
.calViewListContainer {
    margin: 0 0px 0 0px;
    display: flex;
    justify-content: center;
}
.maxUnset {
    max-width: unset;
}
.blue-link:link {
    color: rgb(0, 140, 255);
}
.blue-link:visited {
    color: rgb(0, 140, 255);
}
.blue-link {
    color: rgb(0, 140, 255);
}
.blue-link:link:active {
    color: #d63c42;
}
.blue-link:visited:active {
    color: #d63c42;
}
.blue-link:active {
    color: #d63c42;
}
.blurbText {
    -webkit-text-stroke: 0.25px black;
    text-shadow: 2px 2px #d63c42;
}